    <h1>Task List</h1>
    <ul>
        {% for task in tasks %}
            <li class="{% if task.is_completed %}completed{% endif %}">
                <strong>{{ task.title }}</strong><br>
                {{ task.description }}
                <div class="task-actions">
                    <a href="{% url 'tasks:update' task.id %}" class="edit">Edit</a>
                    <a href="" class="delete">Delete</a>
                </div>
            </li>
            <br/>
        {% endfor %}
    </ul>